@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #1f2023;
  --color-bg-secondary: #27282e;
}
html,
body {
  color: #b5b5b5;
}

#title-home {
  font-size: clamp(1rem, 19vw, 10rem);
  line-height: 1;
}
.btn-category {
  width: 43%;
}
.svg-primary-hover:hover svg {
  fill: #f87272;
}
tbody tr td,
tbody tr th {
  background-color: var(--color-bg-secondary) !important;
  border-bottom: 1px solid #34363c !important;
}
thead tr th {
  background-color: var(--color-bg-secondary) !important;
  padding-top: 1.8rem !important;
}
tfoot tr th {
  background-color: var(--color-bg-secondary) !important;
}
