@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f34643;
  --color-secondary: #666;
  --color-gray-1: #34363c;
  --color-bg: #1f2023;
  --color-bg-secondary: #27282e;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

thead tr th {
  background-color: transparent !important;
  border-bottom: 1px solid #ffffff10;
  color: var(--color-secondary);
}
tbody tr td,
tbody tr th {
  background-color: transparent !important;
  border-bottom: 1px solid #ffffff10;
  border-color: #ffffff10 !important;
}
tfoot tr th {
  background-color: transparent !important;
}
.fade-in {
  animation: fadeIn 0.3s ease forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.active,
.nav-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
}

svg {
  fill: currentColor;
  stroke: currentColor;
}
