@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f34643;
  --color-secondary: #666;
  --color-gray-1: #34363c;
  --color-bg: #1f2023;
  --color-bg-secondary: #27282e;
}
html,
body {
  color: #9d9c9c;
  font-size: 14px;
}
.color-main {
  color: #9d9c9c;
}
#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
#root main {
  width: 100vw;
}
.text-gray-500 {
  color: var(--color-secondary);
}
.bg-base-300 {
  background-color: var(--color-bg-secondary);
}
.svg-primary-hover:hover svg {
  fill: var(--color-primary);
}
thead tr th {
  background-color: transparent !important;
  border-bottom: 1px solid #ffffff10;
  color: var(--color-secondary);
}
tbody tr td,
tbody tr th {
  background-color: transparent !important;
  border-bottom: 1px solid #ffffff10;
  border-color: #ffffff10 !important;
}
tfoot tr th {
  background-color: transparent !important;
}
.icon-sponsor {
  display: inline-block;
  margin: 0 0.6rem;
}
.icon-sponsor svg {
  height: 45px;
}
.circle {
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  display: block;
  display: grid;
  height: 1.6rem;
  line-height: 1;
  place-items: center;
  width: 1.6rem;
}

.fade-in {
  animation: fadeIn 1.4s ease forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.active {
  color: #eee;
}
.tournaments-list li {
  display: inline-block;
  line-height: 1;
  margin: 0.25rem 0.5rem;
}
.tournaments-list li::after {
  content: " / ";
}
.tournaments-list li:last-child::after {
  content: "";
}
.text-6xl {
  font-size: 5rem;
}
.text-5xl {
  font-size: 3.2rem;
}
.text-7xl {
  font-size: 4rem;
}

svg {
  fill: currentColor;
  stroke: currentColor;
}
